div
{
    position: absolute;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#plan
{
    top:     0%;
    left:    0%;
    width:  40%;
    height: 70%;
}

div#checks
{
    top:    70%;
    left:    0%;
    width:  40%;
    height: 30%;
}

div#issues
{
    top:     0%;
    left:   40%;
    width:  40%;
    height: 35%;
}

div#risks
{
    top:    35%;
    left:   40%;
    width:  40%;
    height: 35%;
}

div#improvements
{
    top:    70%;
    left:   40%;
    width:  40%;
    height: 15%;
}

div#recognition
{
    top:    85%;
    left:   40%;
    width:  40%;
    height: 15%;
}

div#title
{
    top:     0%;
    left:   80%;
    width:  20%;
    height: 10%;
}

div#summary
{
    top:    10%;
    left:   80%;
    width:  20%;
    height: 30%;
}

div#snapshot
{
    top:    40%;
    left:   80%;
    width:  20%;
    height: 30%;
}

div#escalations
{
    top:    70%;
    left:   80%;
    width:  20%;
    height: 15%;
}

div#icons
{
    top:    85%;
    left:   80%;
    width:  20%;
    height: 15%;
}
