/* Document nominally 1500x1000
 */
div
{
    position: absolute;
}

div#plan
{
    top:      0px;
    left:     0px;
    width:  600px;
    height: 700px;
}

div#checks
{
    top:    700px;
    left:     0px;
    width:  600px;
    height: 300px;
}

div#issues
{
    top:      0px;
    left:   600px;
    width:  600px;
    height: 350px;
}

div#risks
{
    top:    350px;
    left:   600px;
    width:  600px;
    height: 350px;
}

div#improvements
{
    top:    700px;
    left:   600px;
    width:  600px;
    height: 150px;
}

div#recognition
{
    top:    850px;
    left:   600px;
    width:  600px;
    height: 150px;
}

div#title
{
    top:      0px;
    left:   1200px;
    width:  300px;
    height: 100px;
}

div#summary
{
    top:    100px;
    left:   1200px;
    width:  300px;
    height: 300px;
}

div#snapshot
{
    top:    400px;
    left:   1200px;
    width:  300px;
    height: 300px;
}

div#escalations
{
    top:    700px;
    left:   1200px;
    width:  300px;
    height: 150px;
}

div#icons
{
    top:    850px;
    left:   1200px;
    width:  300px;
    height: 150px;
}
