div.section_outer
{
    padding: 5px;
}
div.section_inner
{
    border: 2px solid lightgrey;
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

ul
{
    margin: 0px;
    padding: 2px;
}
li
{
    list-style-position: inside;
}

li.done
{
    color: gray;
}
li.doing
{
    color: black;
}

div.section_title
{
    background-color: lightgrey;
    position: relative;
    width: 100%;
}

div.section_title > span
{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

tr.even
{
    background-color: lightgrey;
}
